<!--To jest dopełnienie "Layout" w miejsce "RenderBody()"-->
@model PizzaRestaurant.WebUI.Models.ProductsListViewModel



<!--Obiekt "Viewbag" przenosi treści z kontrolera do widoku oraz opisuje się nim tytuły nagłówków jak niżej-->
@{
    ViewBag.Title = "Products";
}

<!--Wylistowanie każdego produktu-->
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p);
}

<!--Poniżej wyświetlana nawigacja stronami, czyli przyciski stron 1,2,3...n).
    "Url.Action" - uzywa metody akcji "List" i ograniczników wg. nr strony i kategorii-->
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
