<!--Summary view in the upper right corner-->
@model PizzaRestaurant.Domain.Entities.Cart



<!--Position coordinates-->
    <div class="navbar-right">
        <!--"Html.ActionLink" returns the link-->
        @Html.ActionLink("Order", "Index", "Cart",
        //The possibility of return
        new { returUrl = Request.Url.PathAndQuery },
        //Style
        new { @class = "btn btn-default navbar-btn" })
    </div>

    <div class="navbar-text navbar-right">
        <!--Position coordinates-->
        <b>Your cart:</b>
        <!--Adding pieces-->
        @Model.Lines.Sum(x => x.Quantity) pieces
        <!--Adding the amount-->
        @Model.ComputeTotalValue().ToString("c")
    </div>