<!--Administrative page layout-->
@{
    Layout = null;
}

<!--"<!DOCTYPE html>" - is a web browser instruction about the HTML version of the page-->
<!DOCTYPE html>

<html>
<head>
    <!--The <meta> viewport element contains browser instructions for controlling dimensions and scaling the page-->
    <!--Thanks to the following line the page will be stretched to 100% of the width of the screen area and will remain on a 1: 1 scale with the possibility of scaling-->
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <!--JavaScript files for implementing client-side validation-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <!--Info that changes were saved as in the "HttpPost Edit" action method in the "AdminController" controller-->
            <div class="glyphicon-alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>