<!DOCTYPE html>
<html>
<head>
    <!--Właściwości-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Tytuł-->
    <title>@ViewBag.Title </title>
</head>
<body>
    <div>
        <!--W miejsce RenderBody, zostanie zatem umieszczona konkretna treść, specyficzna dla danej strony - layout bez zmian a tu zawsze cos innego-->
        @RenderBody()
    </div>
</body>
</html>